# macOS
.DS_Store

# Python
__pycache__/
.cache
.pytest_cache/
*.log

# Environments
.env
.venv
env/
venv/

# VSCode
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Private
config.ini
timelogger_project_pids.json
