# macOS
.DS_Store

# Python
__pycache__/
.cache
.pytest_cache/
*.log

# Environments
.env
.venv
env/
venv/
config.ini

# VSCode
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
